@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 20%;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 80%;
    }
}

.home-page {
    @apply font-bold text-center;

    section {
        @apply relative flex justify-center items-center bg-gray-900 min-h-screen overflow-hidden;

        .content {
            @apply flex flex-col md:flex-row justify-center items-center gap-8 bg-white bg-opacity-30 backdrop-blur-lg rounded-xl p-6 shadow-lg;
            width: min(900px, 100%);
        }

        .info {
            @apply flex flex-col justify-center items-center max-w-md px-8 text-justify;

            p {
                @apply text-white font-medium text-base mb-5 leading-relaxed;
            }
        }
    }

    .circles {
        @apply absolute inset-0 w-full h-full overflow-hidden;
        li {
            @apply absolute block list-none;
            z-index: 0;
            width: 20px;
            height: 20px;
            background: linear-gradient(
                225deg,
                #070a10 30%,
                #ff0cc27d 50%,
                #070a10 70%
            );
            animation: animate 25s linear infinite;
            bottom: -180px;
            &:nth-child(1) {
                left: 25%;
                @apply w-20 h-20;
                animation-delay: 0s;
            }
            &:nth-child(2) {
                left: 10%;
                @apply w-5 h-5;
                animation-delay: 2s;
                animation-duration: 12s;
            }
            &:nth-child(3) {
                left: 70%;
                @apply w-5 h-5;
                animation-delay: 4s;
            }
            &:nth-child(4) {
                left: 40%;
                @apply w-16 h-16;
                animation-delay: 0s;
                animation-duration: 18s;
            }
            &:nth-child(5) {
                left: 65%;
                @apply w-5 h-5;
                animation-delay: 0s;
            }
            &:nth-child(6) {
                left: 75%;
                @apply w-28 h-28;
                animation-delay: 3s;
            }
            &:nth-child(7) {
                left: 35%;
                @apply w-36 h-36;
                animation-delay: 7s;
            }
            &:nth-child(8) {
                left: 50%;
                @apply w-6 h-6;
                animation-delay: 15s;
                animation-duration: 45s;
            }
            &:nth-child(9) {
                left: 20%;
                @apply w-4 h-4;
                animation-delay: 2s;
                animation-duration: 35s;
            }
            &:nth-child(10) {
                left: 85%;
                @apply w-36 h-36;
                animation-delay: 0s;
                animation-duration: 11s;
            }
        }
    }
}
